@import "tailwindcss";

@theme inline {
  --color-background: #000000;
  --color-foreground: #E5E7EB;
  --color-gold: #D4AF37;
  --color-champagne: #F1E5AC;
  --color-brass: #262626;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
